.wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  padding-bottom: 18px;
}

.container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 30px 0;
}
.image {
  float: right;
}
.mobileImage {
  display: none;
}
.info {
  color: #19381f;
  font-family: "Nothing You Could Do";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 84px */
  max-width: 602px;
}
@media only screen and (max-width: 1199px) {
  .container {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 15px;
  }
  .info {
    font-size: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .wrapper {
    padding-bottom: 13px;
  }

  .info {
    font-size: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .wrapper {
    background: none;
    padding-bottom: 0;
  }
  .container {
    align-items: start;
    padding: 0;
  }

  .textContainer {
    order: -1;
  }
  .info {
  }
  /* .dekstopImage {
    display: none;
  }
  .mobileImage {
    display: inline;
    float: right;
  } */
  .info {
    font-size: 30px;
  }
}
@media only screen and (max-width: 520px) {
  .container {
    gap: 0;
  }
  .textContainer {
    max-width: 100%;
  }
  .info3 {
    display: none;
  }
}
