.info {
  color: #19381f;
  font-family: "Nothing You Could Do";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 84px */
  max-width: 602px;
}
@media only screen and (max-width: 1199px) {
  .info {
    font-size: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .info {
    font-size: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .info {
    font-size: 30px;
  }
}
